{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
<div class="menu">
  <div class="center-content">
    <h1>Detalles de la Obra</h1>
    <!-- Verificar si la galería existe antes de mostrar el botón "Volver" -->
    {% if galeria %}
      <a href="{% url 'lista_obras_galeria' galeria.id %}" class="btn btn-primary">Volver a la Galería</a>
    {% endif %}
    <h2>{{ obra.titulo }}</h2>
    <p>{{ obra.descripcion }}</p>
    <p>Artista: {{ obra.autor.nombreArtista }}</p>
    <p>Precio: {% if obra.precio %}${{ obra.precio }}{% else %}No disponible{% endif %}</p>
    <p>Fecha de Creación: {{ obra.fechaCreacion }}</p>
    {% if obra.vendido %}
      <p>Estado: Vendido</p>
    {% endif %}
    <img src="{{ obra.imagen.url }}" alt="{{ obra.titulo }}" />
  </div>
</div>
<style>
.menu {
  text-align: center; /* Centrar contenido horizontalmente */
}

.center-content {
  background-color: #fff; /* Cambia el color de fondo del contenido */
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 20px; /* Agrega espaciado alrededor del contenido */
}

</style>
{% endblock contenidoNuevo %}
