{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
    <h1 class="titulo-centrado">Alta de Artistas</h1>
    <form action="{% url 'formularioAltaArtista' %}" method="post"> {% csrf_token %}
        
        <label for="id_nombreArtista">Nombre del Artista:</label>
        <input type="text" id="id_nombreArtista" name="nombreArtista" maxlength="50" required><br>
        
        <label for="id_apellidoArtista">Apellido del Artista:</label>
        <input type="text" id="id_apellidoArtista" name="apellidoArtista" maxlength="60" required><br>
        
        <label for="id_nacionalidadArtista">Nacionalidad del Artista:</label>
        <input type="text" id="id_nacionalidadArtista" name="nacionalidadArtista" maxlength="50" required><br>
        
        <label for="id_emailArtista">Email del Artista:</label>
        <input type="email" id="id_emailArtista" name="emailArtista" required><br>
        
        <label for="id_tipo">Tipo de usuario:</label>
        <select id="id_tipo" name="tipo" required>
            <option value="comun">Usuario Común</option>
            <option value="artista">Artista</option>
        </select><br>


        <button type="submit">Guardar</button>
        <!-- Botón "Cancelar"  -->
        
        <button type="button" id="botonCancelar">Cancelar</button>
        <script>
            // Evitar que se envíe el formulario cuando se hace clic en "Cancelar"
            document.getElementById('botonCancelar').addEventListener('click', function(e) {
                e.preventDefault();
                // Se redirige a la página de inicio
                window.location.href = "{% url 'index' %}";
            });
        </script>
    </form>
    
{% endblock contenidoNuevo %}