{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
    <h1 class="titulo-centrado">Alta de Usuarios</h1>
    <form action="{% url 'formularioAltaUsuario' %}" method="post"> {% csrf_token %}
        
        <label for="id_nombreUsuario">Nombre del Usuario:</label>
        <input type="text" id="id_nombreUsuario" name="nombreUsuario" maxlength="50" required><br>
        
        <label for="id_apellidoUsuario">Apellido del Usuario:</label>
        <input type="text" id="id_apellidoUsuario" name="apellidoUsuario" maxlength="60" required><br>
        
        <label for="id_edadUsuario">Edad del Usuario:</label>
        <input type="number" id="id_edadUsuario" name="edadUsuario" required><br>
        
        <label for="id_emailUsuario">Email del Usuario:</label>
        <input type="email" id="id_emailUsuario" name="emailUsuario" required><br>
        
        <button type="submit">Guardar</button> 
        
        <!-- Botón "Cancelar"  -->
        
        <button type="button" id="botonCancelar">Cancelar</button>
        
        <script>
            // Evitar que se envíe el formulario cuando se hace clic en "Cancelar"
            document.getElementById('botonCancelar').addEventListener('click', function(e) {
                e.preventDefault();
                // Se redirige a la página de inicio
                window.location.href = "{% url 'index' %}";
            });
        </script>
    </form>
    
{% endblock contenidoNuevo %}