{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
    <h1 class="titulo-centrado">Alta de Obra de Arte</h1>
    <form action="{% url 'formularioAltaObraArte' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="id_titulo">Título de la Obra:</label>
        <input type="text" id="id_titulo" name="titulo" maxlength="150" required><br>
        
        <label for="id_descripcion">Descripción de la Obra:</label>
        <textarea id="id_descripcion" name="descripcion" rows="4" required></textarea><br>
        
        <label for="id_autor">Autor de la Obra:</label>
        <select id="id_autor" name="autor" required>
            <option value="" disabled selected>Selecciona un autor</option>
            
            {% for artista in artistas %}
                <option value="{{ artista.id }}">{{ artista.nombreArtista }}</option>
            {% endfor %}
        </select><br>
        
        <label for="id_precio">Precio de la Obra:</label>
        <input type="number" id="id_precio" name="precio" step="0.01" min="0"><br>
        
        <label for="id_imagen">Imagen de la Obra:</label>
        <input type="file" id="id_imagen" name="imagen" accept="image/*" required><br>
        
        <label for="id_fechaCreacion">Fecha de Creación:</label>
        <input type="date" id="id_fechaCreacion" name="fechaCreacion" required><br>
        
        <label for="id_vendido">¿Vendido?</label>
        <input type="checkbox" id="id_vendido" name="vendido"><br>
        
        <button type="submit">Guardar</button>
    </form>
{% endblock contenidoNuevo %}
