{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
<div class="container">
    <h1 class="titulo-centrado">Alta de Obra de Arte</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="{% url 'formularioAltaObraArte' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_titulo">Título de la Obra:</label>
                    <input type="text" id="id_titulo" name="titulo" class="form-control" maxlength="150" required>
                </div>
                
                <div class="form-group">
                    <label for="id_descripcion">Descripción de la Obra:</label>
                    <textarea id="id_descripcion" name="descripcion" class="form-control" rows="4" required></textarea>
                </div>
                
                <div class="form-group">
                    <label for="id_autor">Autor de la Obra:</label>
                    <select id="id_autor" name="autor" class="form-control" required>
                        <option value="" disabled selected>Selecciona un autor</option>
                        
                        {% for artista in artistas %}
                            <option value="{{ artista.id }}">{{ artista.nombreArtista }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="id_precio">Precio de la Obra:</label>
                    <input type="number" id="id_precio" name="precio" class="form-control" step="0.01" min="0">
                </div>
                
                <div class="form-group">
                    <label for="id_imagen">Imagen de la Obra:</label>
                    <input type="file" id="id_imagen" name="imagen" class="form-control-file" accept="image/*" required>
                </div>
                
                <div class="form-group" style="margin-bottom: 20px;"> <!-- Añade margen inferior -->
                    <label for="id_fechaCreacion">Fecha de Creación:</label>
                    <input type="date" id="id_fechaCreacion" name="fechaCreacion" class="form-control" required>
                </div>
                
                <div class="form-group form-inline">
                    <label for="id_vendido" class="mr-2">¿Vendido?</label>
                    <input type="checkbox" id="id_vendido" name="vendido" class="form-check-input">
                </div>

                <div class="form-group">
                    <label for="id_galeria">Galería:</label>
                    <select id="id_galeria" name="galeria" class="form-control">
                        <option value="" selected>Selecciona una galería (opcional)</option>
                        {% for galeria in galerias %}
                            <option value="{{ galeria.id }}">{{ galeria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" id="botonCancelar" class="btn btn-secondary">Cancelar</button>
                </div>
                
                <!-- Script para redirigir al hacer clic en "Cancelar" -->
                <script>
                    document.getElementById('botonCancelar').addEventListener('click', function(e) {
                        e.preventDefault();
                        window.location.href = "{% url 'index' %}";
                    });
                </script>
            
            
            </form>
        </div>
    </div>
</div>
{% if obra_guardada %}
    <div id="mensaje-exito" class="alert alert-success">
        ¡La obra de arte se ha guardado con éxito!
    </div>
{% endif %}

<script>
    // Obtiene el elemento del mensaje de éxito
    var mensajeExito = document.getElementById("mensaje-exito");

    // Verifica si el mensaje de éxito está presente
    if (mensajeExito) {
        // Muestra el mensaje de éxito
        mensajeExito.style.display = "block";
    }
</script>

{% endblock contenidoNuevo %}
