{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
{% load static %}
    <h1 class="titulo-centrado">Listado de Galerías</h1>
    <div class="row">
        {% for galeria_info_item in galerias_info %}
            <div class="col-md-4 mb-3">
                <div class="card artistas-card">
                    {% if galeria_info_item.imagen_galeria %}
                        <img src="{{ galeria_info_item.imagen_galeria }}" alt="{{ galeria_info_item.nombre_galeria }}" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{% static 'images/pinceles-paleta.jpg' %}" alt="Sin imagen" class="card-img-top img-fluid image-placeholder">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ galeria_info_item.nombre_galeria }}</h5>
                        <p class="card-text">Descripción de la galería: {{ galeria_info_item.descripcion_galeria }}</p>
                        <a href="{% url 'lista_obras_galeria' galeria_info_item.id_galeria %}" class="btn btn-primary">Ver Obras</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenidoNuevo %}
