{% extends 'pagina_inicio.html' %}
{% block contenidoNuevo %}
{% load static %}
    {% if user.is_authenticated %}
        <h1 class="titulo-centrado">Registrar</h1>
        <div class="circulos">
            <a href="{% url 'formularioAltaArtista' %}" class="circulo artista">
                <p>Artistas</p>
            </a>
            <a href="{% url 'formularioAltaObraArte' %}" class="circulo artista">
                <p>Obras</p>
            </a>
        </div>
    {% else %}
        <div class="menu">
            <div class="center-content">    
                <img src="{% static 'images/accesoDenegado_.png' %}" alt="Acceso Denegado" >
                <br>
                <br>
                <br>
                <h1 class="titulo-centrado">Inicie sesión para registrarse como artista</h1>
                
            </div>
        </div>
    {% endif %}
<style>
    .menu {
        text-align: center; /* Centrar contenido horizontalmente */
    }
    
    .center-content {
        background-color: #fff; /* Cambia el color de fondo del contenido */
        text-align: center; /* Centra el contenido horizontalmente */
        padding: 20px; /* Agrega espaciado alrededor del contenido */
    }
    
    </style>
    
{% endblock contenidoNuevo %}


