{% extends 'pagina_inicio.html' %}

{% block contenidoNuevo %}
<body>
    <title>Sobre Nosotros - Empresa Arm Web</title>
    <div class="container">
        <h1 class="text-center">Sobre Nosotros</h1>
        <p>Somos una empresa apasionada por la tecnología y el diseño web. Nuestro equipo de profesionales está dedicado a crear soluciones web de vanguardia para nuestros clientes.</p>
        
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es proporcionar a nuestros clientes sitios web de alta calidad que no solo sean visualmente impresionantes, sino también altamente funcionales. Estamos comprometidos a ayudarte a tener éxito en línea.</p>

        <h2>Nuestros Valores</h2>
        <p>En Empresa Arm Web, valoramos la creatividad, la innovación y la satisfacción del cliente. Nos esforzamos por mantener altos estándares en cada proyecto que emprendemos.</p>

        <h2>Nuestro Equipo</h2>
        <p>Nuestro equipo está formado por diseñadores y desarrolladores web talentosos y experimentados. Trabajamos juntos para transformar tus ideas en realidad.</p>

        <h2>Comienza Tu Proyecto</h2>
        <p>Estamos ansiosos por trabajar contigo en tu próximo proyecto web. ¡Ponte en contacto con nosotros hoy mismo para empezar!</p>

        <p>Si deseas obtener más información sobre nuestros servicios, visita nuestra <a href="{% url 'pagina_en_construccion' %}">página de Nuestros Servicios</a>.</p>

        <h2>Contacto</h2>
        <p>
            <img src="/static/images/telephone.png" alt="Teléfono" style="vertical-align: middle; width: 24px;">
            <span style="vertical-align: middle;">3413667885</span>
        </p>
        <p>
            <img src="/static/images/email.png" alt="Email" style="vertical-align: middle; width: 24px;">
            <span style="vertical-align: middle;">lutonhome2005@gmail.com</span>
        </p>
    </div>
</body>
{% endblock contenidoNuevo %}
